<?xml version="1.0"?>

<Environments>
  <Environment name="LocalDevelopment">
    <Item key="KeySvr" value="localhost" />
    <Item key="KeyUId" value="sa" />
    <Item key="KeyPwd" value="automata01" encrypted="false" />
    <Item key="ContextType" value="Pitalytics"  encrypted="false"/>

    <Item key="FileUploadPath" value="~/DocumentFolder/" />
    <Item key="EmailKey" value="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" />
  </Environment>
  <Environment name="Development">
    <Item key="KeySvr" value="localhost" />
    <Item key="KeyUId" value="sa" />
    <Item key="KeyPwd" value="automata01" encrypted="false" />
    <Item key="FileUploadPath" value="~/DocumentFolder/" />
    <Item key="EmailKey" value="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" />
  </Environment>
  <Environment name="Uat">
    <Item key="KeySvr" value="localhost" />
    <Item key="KeyUId" value="sa" />
    <Item key="KeyPwd" value="automata01" encrypted="false" />
    <Item key="FileUploadPath" value="~/DocumentFolder/" />
    <Item key="EmailKey" value="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" />
  </Environment>
  <Environment name="Production">
    <Item key="KeySvr" value="jobs4moi.database.windows.net" />
    <Item key="KeyUId" value="Jobs4moiAdmin" />
    <Item key="KeyPwd" value="Jobs4moip$wd01" encrypted="false" />
    <Item key="FileUploadPath" value="~/DocumentFolder/" />
    <Item key="EmailKey" value="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" />
  </Environment>
  <Environment name="DR">
    <Item key="KeySvr" value="tcp:ypjqoqhz5p.database.windows.net,1433" />
    <Item key="KeyUId" value="****@ypjqoqhz5p" />
    <Item key="KeyPwd" value="********" encrypted="false" />
    <Item key="FileUploadPath" value="~/DocumentFolder/" />
    <Item key="EmailKey" value="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" />
  </Environment>
</Environments>