<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Jobs4MoiEntities" connectionString="metadata=res://*/DataAccess.Jobs4Moi.csdl|res://*/DataAccess.Jobs4Moi.ssdl|res://*/DataAccess.Jobs4Moi.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7NRRJQ8;initial catalog=Jobs4Moi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7NRRJQ8;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities1" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LC21U48;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities7" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities2" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities3" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities4" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities5" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities6" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities8" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities9" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LC21U48;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities10" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LC21U48;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities11" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LC21U48;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities12" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LC21U48;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities13" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LC21U48;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities14" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LC21U48;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities15" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LC21U48;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities16" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LC21U48;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities17" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LC21U48;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities18" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LC21U48;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities19" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CKPJK1I;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities20" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CKPJK1I;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities21" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CKPJK1I;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities22" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CKPJK1I;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities23" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CKPJK1I;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PitalyticsEntities24" connectionString="metadata=res://*/DataAccess.Pitalytics.csdl|res://*/DataAccess.Pitalytics.ssdl|res://*/DataAccess.Pitalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CKPJK1I;initial catalog=Pitalytics;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>