


@model Pitalytics.Interfaces.IIndustryListView



<div class="container-fluid">

    @using (Html.BeginForm("AddIndustry", "Administration", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="container">


            <div class="row no-gutters pt-5">
                <div style="text-align:center" class="card col-md-5 m-auto">

                    <div class="card-header">
                        <h4 style="text-align: center;" class="text-primary"></h4>
                    </div>
                    <span style="color:green">
                        @Model.ProcessingMessage
                    </span>
                    <span style="color:red">
                        @Html.ValidationSummary()
                    </span>
                    <div class="card-body">
                        <p class="text-danger"></p>
                        <p class="text-danger"></p>
                        <div class="container-fluid">

                            <div class="form-group">
                               
                                <div class="">
                                    <input type="text" placeholder="Industry Name" required autocomplete="off" name="IndustryName" id="IndustryId" value="@Model.IndustryName" class="form-control text-type" />
                                </div>
                            </div>









                            <div style="text-align:center">
                                <input type="submit" id="submit" name="login" value="Add Industry" style="color:white;" class="btn btn-primary mt-2" />
                                <a class="btn btn-danger" href="Industry">Cancel</a>
                            </div>

                        </div>



                    </div>


                </div>
            </div>
        </div>
    }

</div>




@section Stylesheets{
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/asset/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="~/Content/asset/css/newSite.css" rel="stylesheet" />
}
@section JavaScriptsIncludes{


    <script src="~/Scripts/data-table/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/data-table/data-table-act.js"></script>

}